[submodule "ulc"]
	path = ulc
	url = https://github.com/asm128/ulc
[submodule "thermuino"]
	path = thermuino
	url = https://github.com/gondolar/thermuino
[submodule "ESPAsyncWebServer"]
	path = ESPAsyncWebServer
	url = https://github.com/gondolar/ESPAsyncWebServer
[submodule "ESPAsyncTCP"]
	path = ESPAsyncTCP
	url = https://github.com/gondolar/ESPAsyncTCP
[submodule "Arduino-Temperature-Control-Library"]
	path = Arduino-Temperature-Control-Library
	url = https://github.com/gondolar/Arduino-Temperature-Control-Library
[submodule "OneWire"]
	path = OneWire
	url = https://github.com/gondolar/OneWire
[submodule "llc"]
	path = llc
	url = https://github.com/asm128/llc
[submodule "phyton"]
	path = phyton
	url = https://github.com/asm128/phyton.git
