[submodule "ulc"]
	path = ulc
	url = https://github.com/asm128/ulc
[submodule "thermuino"]
	path = thermuino
	url = https://github.com/gondolar/thermuino
[submodule "ESPAsyncWebServer"]
	path = ESPAsyncWebServer
	url = https://github.com/gondolar/ESPAsyncWebServer
[submodule "ESPAsyncTCP"]
	path = ESPAsyncTCP
	url = https://github.com/gondolar/ESPAsyncTCP
[submodule "Arduino-Temperature-Control-Library"]
	path = Arduino-Temperature-Control-Library
	url = https://github.com/gondolar/Arduino-Temperature-Control-Library
[submodule "OneWire"]
	path = OneWire
	url = https://github.com/gondolar/OneWire
[submodule "llc"]
	path = llc
	url = https://github.com/asm128/llc
[submodule "phyton"]
	path = phyton
	url = https://github.com/asm128/phyton.git
[submodule "pyholder"]
	path = pyholder
	url = https://github.com/gondolar/pyholder
[submodule "yce_common"]
	path = yce_common
	url = https://github.com/gondolar/yce_common
[submodule "Adafruit_SSD1306"]
	path = Adafruit_SSD1306
	url = https://github.com/asm128/Adafruit_SSD1306
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/asm128/Adafruit-GFX-Library
[submodule "nlc"]
	path = nlc
	url = https://github.com/gondolar/nlc
[submodule "Adafruit_BusIO"]
	path = Adafruit_BusIO
	url = https://github.com/asm128/Adafruit_BusIO
[submodule "AsyncTCP"]
	path = AsyncTCP
	url = https://github.com/asm128/AsyncTCP.git
[submodule "Adafruit_ILI9341"]
	path = Adafruit_ILI9341
	url = https://github.com/asm128/Adafruit_ILI9341
[submodule "Adafruit_STMPE610"]
	path = Adafruit_STMPE610
	url = https://github.com/asm128/Adafruit_STMPE610
[submodule "Adafruit_TSC2007"]
	path = Adafruit_TSC2007
	url = https://github.com/asm128/Adafruit_TSC2007
[submodule "Adafruit_TouchScreen"]
	path = Adafruit_TouchScreen
	url = https://github.com/asm128/Adafruit_TouchScreen
[submodule "Adafruit_SH110X"]
	path = Adafruit_SH110X
	url = https://github.com/asm128/Adafruit_SH110X
[submodule "Adafruit-ST7735-Library"]
	path = Adafruit-ST7735-Library
	url = https://github.com/asm128/Adafruit-ST7735-Library
[submodule "SD"]
	path = SD
	url = https://github.com/asm128/SD
[submodule "Adafruit_Seesaw"]
	path = Adafruit_Seesaw
	url = https://github.com/asm128/Adafruit_Seesaw
[submodule "espsoftwareserial"]
	path = espsoftwareserial
	url = https://github.com/asm128/espsoftwareserial
[submodule "Arduino-IRremote"]
	path = Arduino-IRremote
	url = https://github.com/asm128/Arduino-IRremote
